<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor Home page</title>
  </head>
  <body>
    <h1>Welcome *Doctor name*</h1>

    <ul>
      <h1>THIS IS WHERE YOUR PATEINTS WILL BE</h1>
    </ul>

  </body>
</html>
