<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Patient Advocacy</title>
  </head>
  <body>
    <section id="appointment">
      <form class="" action="/apptForm" method="post">
        <h1> Do you want to set an appointment with your provider?</h1>
        <select class="" name="appt">
          <option value="">Yes, I want to get better</option>
          <!-- If yes, return message, I will send you a reminder everyday to set up your appointment -->
          <option value="">No, I will continue to suffer</option>
          <!-- If else, return message "Hope you seek the appropraite help sooner than later. Can't wait to hear from you tomorrow.-->
        </select>
      </form>
    </section>
  </body>
</html>
