
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/doctor.css">
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
    <title>Patient Page</title>
  </head>
  <body>
    <h1 class="doc">List of Patients</h1>
    <ul>
      <% for(let i=0; i<patients.length; i++){ %>
        <a href="/pInfo?id=<%= patients[i]._id%>">
          <li><%= patients[i].name %></li></a>
    <%  } %>
    </ul>


  </body>
</html>
