<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">

    <title>Patient Advocacy</title>
  </head>
  <body>
    <section>
      <h1>What does the pain feel like?</h1>
      <p>Ex: The pain in my right knee feels achy and hot.I feel like the two bones are rubbing up against each other.I stood for more than 30 minutes, and my knee swell up. I felt a throbbing pain.</p>
      <form class="" action="/explainPainForm" method="post">

        <textarea class="explainPain" name="name" rows="8" cols="80" class="painReasoning"></textarea>
        <button type="submit" name="submit">Next</button>

      </form>


    </section>
  </body>
</html>
