<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">

    <title>Patient Advocacy</title>
  </head>
  <body>
    <section id="extra">
      <h1>Is there anything else you want to tell me? *Can fix wording* </h1>
      <form class="" action="/extraForm" method="post">

        <textarea class="" name="extraInfo" rows="8" cols="80" class=""></textarea>
        <button type="submit" name="submit">Next</button>

      </form>

    </section>
  </body>
</html>
