<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Patient Advocacy</title>
		 <link rel="stylesheet" href="/assets/css/login_sign2.css">
	</head>
	<body>
		<div class="login" >
			<h1>Login</h1>
		    <form method="post" action="/login">
		    	<input type="email" name="email" placeholder="Email" required="required" />
		        <input type="password" name="password" placeholder="Password" required="required" />
		        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
						<p class="message">Not registered? <a href="/signup">Create an account</a></p>
		    </form>
		</div>
	</body>
</html>
