<!doctype html>
<html>
<head>
    <title>Patient Advocacy</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="logo"></div>
  <div class="login-block">
      <h1>Login</h1>
    <form class="login-form"  action="/login" method="post">
      <label for="">Email</label>
      <input id="email" type="text" placeholder="email"name="email" />
      <label for="">Password</label>
      <input id="password" type="password" placeholder="password" name= "password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </form>
  </div>
</body>
</html>
