<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Patient Advocacy</title>
  </head>
  <body>
    <section class="middleOfPgPlacement">
      <h1>How are you feeling today?</h1>
      <form class="" action="/mood" method="post">
      <select class="" name="mood">
       <option>Sad</option>
        <option>Happy</option>
        <option>Mad</option>
        <option>Calm</option>
        <option>Motivated</option>
         <option>Emotional</option>

      </select>
    <button type="submit" name="submit">Next</button>

      </form>
    </section>

<!--
    <section id="whyFeelings">
      <h1 class="feelingsResponse">Why do you feel "databasename.nameOfResults"?</h1>
      <textarea name="name" rows="8" cols="80" class="feelingsReasoning"></textarea> -->
      <!-- Save Response in database -->
    <!-- </section> -->
<!--


    <section id="painQuestion">
      <h1>Are you expereincing any pain today?</h1>
      <select class="painQuestionOption" name="">
        <option value="">Yes,I am</option>
        <option value="">No pain today</option>
      </select>
    </section>
    <div class="middleForBtnAndInput">
      <p>If yes, where was the pain today?</p>
        <input type="text" name="" value=""placeholder="Location of pain">
        <button type="button" name="button"><a href="currentLocation.html">Next</a></button>
    </div>
    <section>
      <h1>What does the pain feel like?</h1>
      <p>Ex: The pain in my right knee feels achy and hot.I feel like the two bones are rubbing up against each other.I stood for more than 30 minutes, and my knee swell up. I felt a throbbing pain.</p>
      <textarea name="name" rows="8" cols="80" class="painReasoning"></textarea>
    </section>

    <section id="extra">
      <h1>Is there anything else you want to tell me? *Can fix wording* </h1>
      <textarea name="name" rows="8" cols="80" class="painReasoning"></textarea>
    </section>



    <section id="appointment">
      <h1> Do you want to set an appointment with your provider ?</h1>
      <select class="" name="">
        <option value="">Yes, I want to get better</option>
        <option value="">No, I will continue to suffer</option>
      </select>
    </section> -->



  </body>
</html>
