
<!doctype html>
<html>
<head>
    <title>Patient Advocacy</title>
  <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>

      <div class="wrapper">
      	<div class="container">
      		<h1 class="name">Welcome</h1>


      	  <form action="/signup" method="post">
      			<input type="email" id="user" placeholder="Email" name="email"/>
      			<input type="password" placeholder="Password" name= "password">
            <input type="number" name="pNumber" value="" placeholder="Phone Number">
      			<button type="submit" id="login-button">Login</button>
            <p>Already have an account? <a href="/login">Login</a></p>
      		</form>
      	</div>

      	<ul class="bg-bubbles">
      		<li></li>
          <li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      	</ul>
      </div>
  <script type="text/javascript" src="/assets/js/login_singup.js">

  </script>
</body>
</html>
