.moodBlocks{
  /* border: 2px solid green; */
  width: 50%;
  float: left;
  font-family: 'Solway', serif;
  background-color: white;
  opacity: 0.5;
  margin-right: 1.5em;

}

#chart_div, #painChart_div, #moodChart_div,#patientPainChart_div{
  float: left;
  opacity: 0.60;
}
textarea{
	resize: none;
}
h1{
  text-align: center;
  font-family: 'Solway', serif;
}
.doc{
font-size: 60px;
}
h3{
  color: blue;
}
h2{
  display: flex;
  justify-content: center;
}
input.logDate{
  width: 39%;
  height: 2em;
  font-size: 2em;
  margin-left: 30%;
}
.find{
    border-radius: 20em;
    background-color: white;
    height: 2em;
    width: 20%;
    font-size: larger;
    margin-left: 41%;
}
/* body{
  background-image: url(images/pic02.jpg);
  background-repeat: no-repeat;
  background-position: center;

} */
body{
      background: url(/images/doctor.jpg) no-repeat fixed center center;
      background-size: cover;
      font-family: 'Gelasio', serif;
}
li{
  font-size: 50px;
  color: black;
  text-align: center;
  margin-bottom: 0.5em;
}
ul{
  list-style-type: none;
}
a:link {
  text-decoration: none ;
}
